table,tbody,thead,tr,td,th{
    border:1px dotted red;
    border-collapse: collapse;
}

tr td:last-child, tr td:nth-last-child(3){
    background-color:aqua;
}

#Gyakorlas
{
    background-color:red ;
    color:yellow;
}

#Gyakorlas button:has(+p)
{
    background-color: blueviolet;
}

#Gyakorlas button:not(:has(+p))
{
    background-color: chocolate;
}
#Gyakorlas:has(+a:hover) button 
{
    color:red;    
}

tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td
{
    background-color: chocolate;
}

tbody tr:has(td[rowspan]):hover td
{
    background-color: darkgreen;
}
tr:has(td[rowspan]):hover+ tr td{
    background-color: darkgreen;
}
tr:has(td[rowspan]):has(+tr:hover) td
{
    background-color: aquamarine;
}
tr:has(td[rowspan]):has(+tr:hover)+tr td
{
    background-color:aquamarine ;
}

.marked
{
    color:red;
}

